@model int

@{
    ViewData["Title"] = "PaymentConfirmation";
}

<div class="container row mt-1 mb-5">
    <div class="cpl-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Payment ID : @Model <br />
        <img src="~/images/OrderConfirm/lawn_leaf.jpg" width="40%" class=" rounded" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your payment for the order has been placed succefully..!
    </div>
    <h3 class="text-center">Thank You..!</h3>

    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-success">Back to order management</a>
</div>

